@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  color: #555;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  /* This section added to get sticky footer as in https://css-tricks.com/couple-takes-sticky-footer/ */
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* End of sticky footer section */
}
#header {
  background-color: #a5181c;
  height: 100px;
  line-height: 100px;
}
#header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
  color: #222;
}
#header-title {
  display: block;
  float: left;
  padding-left: 20px;
  font-size: 30px;
  font-weight: bold;
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
  padding-right: 20px;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
}
/* This section added to get sticky footer as in https://css-tricks.com/couple-takes-sticky-footer/ */
#wrapper {
  flex: 1 0 auto;
}
/* End of sticky footer section */
.container {
  max-width: 1000px;
  margin: 0 auto;
}
#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
  /* This section added to get sticky footer as in https://css-tricks.com/couple-takes-sticky-footer/ */
  flex-shrink: 0;
  /* End of sticky footer section */
}
#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-left: 20px;
}
#footer p {
  color: white;
  padding-left: 20px;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color: #F6A623;
}
.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.post-author img {
  height: 50px;
  vertical-align: middle;
}
.post-author span {
  margin-left: 16px;
}
.post-date {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h1, h2, h3, h4 {
  color: #333;
}
p {
  line-height: 1.5;
}
.about {
  text-align: center;
}
.post-author img, .about-author img {
  border-radius: 5%;
}
.post-container:nth-child(even) {
  background-color: #f2f2f2;
}
